<%= form_for(@user, :url => resource_path) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %>
    </div>
    <div class="field">
      <%= f.label :fname, t('users.first_name') %><br />
      <%= f.text_field :fname %>
    </div>
    <div class="field">
      <%= f.label :lname, t('users.last_name') %><br />
      <%= f.text_field :lname %>
    </div>
    <div class="field">
      <%= f.label :roles %>
      <ul>
        <% User.valid_roles.each do |role| %>
            <li id="role_<%= role %>"><%= role %><%= check_box_tag 'user[roles][]', role, @user.has_role?(role) %></li>
        <% end %>
      </ul>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
