<h1><%= t('general.listing') % t('users.users') %>
  <span class='actions'>
        <% if user_signed_in? %>
          <%= link_to 'New', new_admin_user_path, :id => 'new_user_link' %>
        <% end  %>
    </span>
</h1>

<table id='index_table' class='data_table'>
  <thead>
      <tr>
        <th><%= t('users.email_address') %></th>
        <th><%= t('users.administrator') %></th>
        <th><%= t('general.tables.actions') %></th>
      </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email ? user.email : user.unconfirmed_email, admin_user_path(user) %></td>
        <td><%= user.has_role?(:admin) ? t('general.yes') : t('general.no') %></td>
        <td>
          <%= link_to t('general.edit'), edit_admin_user_path(user) %>
          <% if user != current_user %>
            <%= link_to t('general.destroy'), admin_user_path(user), :confirm => t('general.are_you_sure'), :method => :delete %></td>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
