<h1><%= @user.email ? @user.email.upcase : @user.unconfirmed_email.upcase %></h1>
<div class='model_info'>
  <h3><%= t('users.attributes') %>:</h3>
  <table id='user_attributes'>
    <tr>
      <td><%= t('users.confirmed_on') %></td>
      <td><%= @user.confirmed_at ? @user.confirmed_at.to_formatted_s(:long_ordinal) : t('users.not_confirmed') %></td>
    </tr>
    <tr>
      <td><%= t('users.administrator') %></td>
      <td><%= @user.has_role?(:admin) ? t('general.yes') : t('general.no') %></td>
    </tr>
  </table>
</div>
<br/><br/><br/>

<%= link_to t('general.back'), admin_users_path %>
