<%= form_for([@season.tv_show, @season]) do |f| %>
  <% if @season.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@season.errors.count, "error") %> prohibited this season from being saved:</h2>

      <ul>
      <% @season.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :tvdb_id %><br>
    <%= f.number_field :tvdb_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
