<tr>
  <td><%= link_to season.number, [season.tv_show, season] %></td>
  <td><%= season.tvdb_id ? link_to(season.tvdb_id, tvdb_url(season)) : nil %></td>
  <td><%= link_to season.tv_show.name, season.tv_show %></td>
  <td><%= link_to season.discs.count, tv_show_season_discs_path(season.tv_show, season) %></td>
  <td><%= link_to season.episodes.count, tv_show_season_episodes_path(season.tv_show, season) %></td>
  <td>
    <%= link_to t('general.edit'), edit_tv_show_season_path(season.tv_show, season) if can? :edit, Season %>
    <%= link_to t('general.destroy'), [season.tv_show, season], method: :delete, data: { confirm: t('general.are_you_sure')} if can? :destroy, Season %>
  </td>
</tr>