<table id='seasons_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('seasons.season_number') %></th>
    <th><%= t('seasons.tvdb_id') %></th>
    <th><%= t('tv_shows.tv_shows') %></th>
    <th><%= t('discs.discs') %></th>
    <th><%= t('episodes.episodes') %></th>
    <th><%= t('general.tables.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% seasons.each do |season| %>
      <%= render 'seasons/season', :season => season %>
  <% end %>
  </tbody>
</table>