<h1><%= t('general.listing') % t('seasons.seasons') %>
  <span class='actions'>
        <% if can? :create, Season  %>
          <%= link_to 'New', new_tv_show_season_path, :id => 'new_season_link' %>
        <% end  %>
    </span>
</h1>
<%= render 'seasons', :seasons => @seasons %>