<h1><%= "#{@season.tv_show.name} - #{t('seasons.season')} #{@season.number}" %></h1>

<strong><%= t('seasons.tvdb_id') %>:</strong>
<%= @season.tvdb_id ? link_to(@season.tvdb_id, tvdb_url(@season)) : t('general.not_applicable') %>

<h3><%= t('discs.discs') %>
  <span class='actions'>
        <% if can? :create, Disc %>
          <%= link_to 'New', new_tv_show_season_disc_path(@season.tv_show, @season), :id => 'new_tv_show_link' %>
        <% end  %>
  </span>
</h3>
<%= render 'discs/discs', :discs => @season.discs %>
<br />
<br />
<h3><%= t('episodes.episodes') %>
  <span class='actions'>
        <% if can? :create, Episode %>
          <%= link_to 'New', new_tv_show_season_episode_path(@season.tv_show, @season), :id => 'new_tv_show_link' %>
        <% end  %>
  </span>
</h3>
<%= render 'episodes/episodes', :episodes => @season.episodes %>
<br />
<br />
<%= link_to t('general.back'), [@season.tv_show, @season] %>
<% if can?(:edit, Season) %>
    | <%= link_to 'Edit', edit_tv_show_season_path(@season.tv_show, @season) %>
<% end %>
