<%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Sign in with #{provider.to_s.titleize}", user_auth_man_omniauth_authorize_path(provider) %><br />
    <% end -%>
<% end -%>

<%- if controller_name == 'sessions' %>
    <%= link_to "Sign in with local credentials", '#', :id => 'local_credentials_link' %>
    <br />
    <br />
<% end -%>

<%- if controller_name != 'sessions' %>
    <%= link_to "Sign in", new_session_path(resource_name) %><br />
<% end -%>