<h1><%= t('general.your_account') %></h1>

<%= render 'account/account', :gravatar_url => @user.gravatar_url, :user => @user %>

<strong><%= t('users.roles') %>:</strong>
<ul>
  <% @user.roles.each do |r| %>
      <li><%= r %></li>
  <% end %>
</ul>
<% if current_user_can_access_api %>
    <h3><%= t('api_keys.api_keys') %>
      <span class='actions'>
            <% if can? :create, APIKey %>
              <%= link_to 'New', new_users_api_key_path, :id => 'new_api_key_link' %>
            <% end  %>
        </span>
    </h3>
    <%= render 'api_keys/api_keys', :api_keys => @user.api_keys %>
<% end %>
<br />
<br />
<%= link_to t('general.edit'), edit_user_registration_path %>