<%= form_tag({action: :perform_import}, multipart: true) do %>
    <div class="field">
      <%= label_tag :file, t('tv_shows.tv_show_file') %>
      <%= file_field_tag 'file', accept: valid_import_formats_mime %> (<%= t('tv_shows.valid_import_formats') %>: <%= valid_import_formats.join(', ') %>)
    </div>
    <div class="actions">
      <%= submit_tag t('tv_shows.import_tv_show') %>
    </div>
<% end %>