<tr>
  <td><%= link_to tv_show.name, tv_show %></td>
  <td><%= link_to tv_show.collections.count, tv_show_collections_path(tv_show) %></td>
  <td><%= link_to tv_show.seasons.count, tv_show_seasons_path(tv_show) %></td>
  <td><%= link_to tv_show.episodes.count, tv_show_episodes_path(tv_show) %></td>
  <td><%= tv_show.tvdb_id ? link_to(tv_show.tvdb_id, tvdb_url(tv_show)) : nil %></td>
  <td><%= tv_show.language %></td>
  <td>
    <%= link_to t('tv_shows.export_to_yaml'), export_tv_show_path(tv_show, format: :yaml) if can? :export_to_yaml, TvShow %>
    <%= link_to t('general.edit'), edit_tv_show_path(tv_show) if can? :edit, TvShow %>
    <%= link_to t('general.destroy'), tv_show, method: :delete, data: { confirm: t('general.are_you_sure')} if can? :destroy, TvShow %>
  </td>
</tr>