<table id='itv_shows_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('tv_shows.name') %></th>
    <th><%= t('collections.collections') %></th>
    <th><%= t('seasons.seasons') %></th>
    <th><%= t('episodes.episodes') %></th>
    <th><%= t('tv_shows.tvdb_id') %></th>
    <th><%= t('tv_shows.language') %></th>
    <th><%= t('general.tables.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% tv_shows.each do |tv_show| %>
    <%= render 'tv_show', :tv_show => tv_show %>
  <% end %>
  </tbody>
</table>