<h1><%= t('general.listing') % t('tv_shows.tv_shows') %>
  <span class='actions'>
        <% if can? :create, TvShow  %>
          <%= link_to 'New', new_tv_show_path, :id => 'new_tv_show_link' %>
        <% end  %>
    </span>
</h1>
<%= render 'tv_shows', :tv_shows => @tv_shows %>
<br />
<br />
<% if can?(:manage, [TvShow, Disc, Season, Episode, EpisodeDisc]) %>
    <%= link_to t('tv_shows.import_from_yaml'), import_tv_shows_path %>
<% end %>
