<h1><%= @tv_show.name %></h1>

<p>
  <strong><%= t('tv_shows.tvdb_id') %>:</strong>
  <%= link_to @tv_show.tvdb_id, tvdb_url(@tv_show) %>
</p>

<p>
  <strong><%= t('tv_shows.language') %>:</strong>
  <%= @tv_show.language %>
</p>

<h3><%= t('collections.collections') %>
  <span class='actions'>
        <% if can? :create, Collection %>
          <%= link_to 'New', new_tv_show_collection_path(@tv_show), :id => 'new_collection_link' %>
        <% end  %>
  </span>
</h3>
<%= render 'collections/collections', :collections => @tv_show.collections %>
<br />
<h3><%= t('seasons.seasons') %>
  <span class='actions'>
        <% if can? :create, Season %>
          <%= link_to 'New', new_tv_show_season_path(@tv_show), :id => 'new_tv_show_link' %>
        <% end  %>
  </span>
</h3>
<%= render 'seasons/seasons', :seasons => @tv_show.seasons %>
<br />
<h3><%= t('discs.discs') %></h3>
<%= render 'discs/discs', :discs => @tv_show.discs %>
<br />
<h3><%= t('episodes.episodes') %></h3>
<%= render 'episodes/episodes', :episodes => @tv_show.episodes %>
<br />
<br />
<%= link_to t('general.back'), tv_shows_path %>
<% if can?(:edit, TvShow) %>
    | <%= link_to 'Edit', edit_tv_show_path(@tv_show) %>
<% end %>
