<h1>Resend confirmation instructions</h1>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>
  </div>

  <div class="actions">
    <%= f.submit 'Resend confirmation instructions' %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
