<h1>Account Activation<% if resource.full_name %> for <%= resource.full_name %><% end %></h1>

<%= form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:method => 'patch'}, :id => 'activation-form' do |f| %>
    <%= devise_error_messages! %>
    <fieldset>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password%>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <%= hidden_field_tag :confirmation_token,@confirmation_token %>

      <div class="actions">
        <%= f.submit 'Activate' %>
      </div>
    </fieldset>
<% end %>