<tr>
  <td><%= link_to disc.disc_number, [disc.tv_show, disc.season, disc] %></td>
  <td><%= disc.disc_type %></td>
  <td><%= link_to disc.tv_show.name, disc.tv_show %></td>
  <td><%= link_to disc.season.number, [disc.tv_show, disc.season] %></td>
  <td><%= link_to disc.episodes.count, tv_show_season_disc_episodes_path(disc.tv_show, disc.season, disc) %></td>
  <td>
    <%= link_to t('general.edit'), edit_tv_show_season_disc_path(disc.tv_show, disc.season, disc) if can? :edit, Disc %>
    <%= link_to t('general.destroy'), [disc.tv_show, disc.season, disc], method: :delete, data: { confirm: t('general.are_you_sure')} if can? :destroy, Disc %>
  </td>
</tr>