<table id='discs_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('discs.disc_number') %></th>
    <th><%= t('discs.disc_type') %></th>
    <th><%= t('discs.tv_show') %></th>
    <th><%= t('discs.season') %></th>
    <th><%= t('episodes.episodes') %></th>
    <th><%= t('general.tables.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% discs.each do |disc| %>
      <%= render 'discs/disc', :disc => disc %>
  <% end %>
  </tbody>
</table>