<%= form_for([@disc.tv_show, @disc.season, @disc]) do |f| %>
  <% if @disc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disc.errors.count, "error") %> prohibited this disc from being saved:</h2>

      <ul>
      <% @disc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disc_number %><br>
    <%= f.text_field :disc_number %>
  </div>
  <div class="field">
    <%= f.label :disc_type %><br>
    <%= f.text_field :disc_type %>
  </div>
  <div class="field">
    <%= f.label :disc_label %><br>
    <%= f.text_field :disc_label %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
