<h1><%= t('general.listing') % t('discs.discs') %>
  <span class='actions'>
        <% if can?(:create, Disc) && params[:season_id] %>
          <%= link_to 'New', new_tv_show_season_disc_path, :id => 'new_disc_link' %>
        <% end  %>
    </span>
</h1>
<%= render 'discs', :discs => @discs %>