<h1><%= "#{@disc.tv_show.name} - #{t('seasons.season')} #{@disc.season.number} - #{@disc.disc_number}" %></h1>

<p>
  <strong><%= t('tv_shows.tv_show') %>:</strong>
  <%= link_to @disc.tv_show.name, @disc.tv_show %>
</p>

<p>
  <strong><%= t('seasons.season') %>:</strong>
  <%= link_to @disc.season.number, [@disc.season.tv_show, @disc.season] %>
</p>

<p>
  <strong><%= t('discs.disc_number') %>:</strong>
  <%= @disc.disc_number %>
</p>

<p>
  <strong><%= t('discs.disc_type') %>:</strong>
  <%= @disc.disc_type %>
</p>

<p>
  <strong><%= t('discs.disc_label') %>:</strong>
  <%= @disc.disc_label %>
</p>

<h3><%= t('episodes.episodes') %>
  <span class='actions'>
        <% if can? :create, Episode %>
          <%= link_to 'New', new_tv_show_season_episode_path(@disc.tv_show, @disc.season, :disc_id => @disc.id) %>
        <% end  %>
  </span>
</h3>
<%= render 'episodes/episodes', :episodes => @disc.episodes %>
<br />
<br />
<%= link_to t('general.back'), [@disc.tv_show, @disc.season, @disc] %>
<% if can?(:edit, Disc) %>
    | <%= link_to 'Edit', edit_tv_show_season_disc_path(@disc.tv_show, @disc.season, @disc) %>
<% end %>
