<%= form_tag({action: :perform_associate_disc}) do %>
    <div class="field">
      <%= label_tag :discs, t('discs.discs') %>
      <%= select_tag  'discs[]', options_from_collection_for_select(@tv_show.discs, :id, :disc_label, @collection.discs.map(&:id)), multiple: true %>
    </div>

    <div class="actions">
      <%= submit_tag t('collections.associate_discs') %>
    </div>
<% end %>