<table id='collections_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('collections.name') %></th>
    <th><%= t('collections.region_name') %></th>
    <th><%= t('collections.region_code') %></th>
    <th><%= t('discs.discs') %></th>
    <th><%= t('tv_shows.tv_show') %></th>
    <th><%= t('general.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% collections.each do |collection| %>
      <%= render 'collections/collection', :collection => collection %>
  <% end %>
  </tbody>
</table>