<tr>
  <td><%= link_to collection.name, tv_show_collection_path(collection.tv_show, collection) %></td>
  <td><%= collection.region_name %></td>
  <td><%= collection.region_code %></td>
  <td><%= link_to collection.discs.count, tv_show_collection_discs_path(collection.tv_show, collection) %></td>
  <td><%= collection.tv_show %></td>
  <td>
    <%= link_to 'Edit', edit_tv_show_collection_path(collection.tv_show, collection) if can? :edit, Collection %>
    <%= link_to 'Destroy', [collection.tv_show, collection], method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Collection %>
  </td>
</tr>