<%= form_for([@collection.tv_show, @collection]) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :region_code %><br>
    <%= f.text_field :region_code %>
  </div>
  <div class="field">
    <%= f.label :region_name %><br>
    <%= f.text_field :region_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
