<h1><%= t('general.listing') % t('collections.collections') %>
  <span class='actions'>
        <% if can? :create, Collection  %>
          <%= link_to 'New', new_tv_show_collection_path(@tv_show), :id => 'new_collection_link' %>
        <% end %>
    </span>
</h1>

<%= render 'collections/collections', :collections => @collections %>