<h1><%= "#{@collection.tv_show.name} - #{@collection.name}" %></h1>

<p>
  <strong>Name:</strong>
  <%= @collection.name %><br />

  <strong>Description:</strong>
  <%= @collection.description %><br />

  <strong>Region code:</strong>
  <%= @collection.region_code %><br />

  <strong>Region name:</strong>
  <%= @collection.region_name %><br />
</p>

<h3><%= t('discs.discs') %>
  <span class='actions'>
        <% if can? :associate_disc, Disc  %>
          <%= link_to t('collections.associate_discs'), associate_disc_tv_show_collection_path(@collection.tv_show, @collection), :id => 'associate_disc_link' %>
        <% end  %>
    </span>
</h3>
<%= render 'discs/discs', :discs => @collection.discs %>
<br />
<br />
<%= link_to 'Edit', edit_tv_show_collection_path(@collection.tv_show, @collection) %> |
<%= link_to 'Back', tv_show_collection_path(@collection.tv_show, @collection) %>
