<table id='api_keys_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('api_keys.application.name') %></th>
    <th><%= t('api_keys.application.url') %></th>
    <th><%= t('api_keys.key') %></th>
    <th><%= t('general.tables.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% api_keys.each do |api_key| %>
      <%= render 'api_keys/api_key', :api_key => api_key %>
  <% end %>
  </tbody>
</table>