<h1><%= t('general.listing') % t('api_keys.api_keys') %>
  <span class='actions'>
        <% if can? :create, APIKey  %>
          <%= link_to 'New', new_users_api_key_path, :id => 'new_api_key_link' %>
        <% end  %>
    </span>
</h1>
<%= render 'api_keys', :api_keys => @api_keys %>