<h1><%= @api_key.application_name %></h1>

<p>
  <strong><%= t('api_keys.api_key') %>:</strong>
  <%= @api_key.key %><br />

  <strong><%= t('api_keys.application.url') %>:</strong>
  <%= @api_key.application_url %><br />

  <strong><%= t('api_keys.description') %>:</strong>
  <%= @api_key.description %>
</p>
<br />
<br />
<%= link_to t('general.back'), users_api_keys_path %>
<% if can?(:edit, APIKey) %>
    | <%= link_to 'Edit', edit_users_api_key_path(@api_key) %>
<% end %>