<tr>
  <td><%= episode_number(episode) %></td>
  <td><%= link_to episode.name, [episode.tv_show, episode.season, episode] %></td>
  <td><%= link_to episode.tv_show.name, episode.tv_show %></td>
  <td><%= link_to episode.season.number, [episode.season.tv_show, episode.season] %></td>
  <td><%= link_to episode.discs.count, tv_show_season_episode_episode_discs_path(episode.tv_show, episode.season, episode) %></td>
  <td>
    <%= link_to "Associate with Disc", new_tv_show_season_episode_episode_disc_path(episode.tv_show, episode.season, episode) if can? :create, EpisodeDisc %>
    <%= link_to t('general.edit'), edit_tv_show_season_episode_path(episode.tv_show, episode.season, episode) if can? :edit, Episode %>
    <%= link_to t('general.destroy'), [episode.tv_show, episode.season, episode], method: :delete, data: { confirm: t('general.are_you_sure')} if can? :destroy, Episode %>
  </td>
</tr>