<table id='episodes_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('episodes.number') %></th>
    <th><%= t('episodes.name') %></th>
    <th><%= t('tv_shows.tv_show') %></th>
    <th><%= t('seasons.season') %></th>
    <th><%= t('discs.discs') %></th>
    <th><%= t('general.tables.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% episodes.each do |episode| %>
      <%= render 'episodes/episode', :episode => episode %>
  <% end %>
  </tbody>
</table>