<h1><%= t('general.listing') % t('episodes.episodes') %>
  <span class='actions'>
        <% if can?(:create, Episode) && params[:season_id] %>
          <%= link_to 'New', new_tv_show_season_episode_path, :id => 'new_episode_link' %>
        <% end  %>
    </span>
</h1>
<%= render 'episodes', :episodes => @episodes %>