<h1><%= t('general.new') % t('episodes.episode') %> - <%= @episode.tv_show %> - <%= t('seasons.season') %> <%= @episode.season.number %></h1>

<%= render 'form' %>

<%= link_to 'Back', tv_show_season_episodes_path %>
