<h1><%= "#{@episode.tv_show.name} - #{t('seasons.season')} #{@episode.season.number} - #{@episode.name}" %></h1>

<p>
  <strong><%= t('episodes.episode_number') %>:</strong>
  <%= @episode.number %><br />
  <strong><%= t('episodes.makemkv_name') %>:</strong>
  <%= @episode.makemkv_name %><br />
</p>

<h3><%= t('episode_discs.episode_discs') %></h3>
<%= render 'episode_discs/episode_discs', :episode_discs => @episode.episode_discs %>
<br />
<br />
<%= link_to t('general.back'), tv_show_season_episodes_path %>
<% if can?(:edit, Episode) %>
    | <%= link_to 'Edit', edit_tv_show_season_episode_path(@episode.tv_show, @episode.season, @episode) %>
<% end %>
