<tr>
  <td><%= link_to episode_disc.episode.name, tv_show_season_episode_path(episode_disc.episode.tv_show, episode_disc.episode.season, episode_disc.episode) %></td>
  <td><%= episode_disc.disc_order %></td>
  <td><%= boolean_to_string(episode_disc.combined_episodes) %></td>
  <td><%= link_to episode_disc.disc.disc_label, tv_show_season_disc_path(episode_disc.disc.tv_show, episode_disc.disc.season, episode_disc.disc) %></td>
  <td><%= link_to episode_disc.episode.tv_show.name, episode_disc.episode.tv_show %></td>
  <td><%= link_to episode_disc.episode.season.number, [episode_disc.episode.season.tv_show, episode_disc.episode.season] %></td>
  <td>
    <%= link_to 'Show', tv_show_season_episode_episode_disc_path(episode_disc.episode.tv_show, episode_disc.episode.season, episode_disc.episode, episode_disc) %>
    <%= link_to 'Edit', edit_tv_show_season_episode_episode_disc_path(episode_disc.episode.tv_show, episode_disc.episode.season, episode_disc.episode, episode_disc) if can? :edit, EpisodeDisc %>
    <%= link_to 'Destroy', [episode_disc.episode.tv_show, episode_disc.episode.season, episode_disc.episode, episode_disc], method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, EpisodeDisc %>
  </td>
</tr>