<table id='episode_discs_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('episodes.name') %></th>
    <th><%= t('episode_discs.disc_order') %></th>
    <th><%= t('episode_discs.combined_episodes') %></th>
    <th><%= t('discs.disc') %></th>
    <th><%= t('tv_shows.tv_show') %></th>
    <th><%= t('seasons.season') %></th>
    <th><%= t('general.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% episode_discs.each do |episode_disc| %>
      <%= render 'episode_discs/episode_disc', :episode_disc => episode_disc %>
  <% end %>
  </tbody>
</table>