<%= form_for(@episode_disc, :url => resource_url) do |f| %>
  <% if @episode_disc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@episode_disc.errors.count, "error") %> prohibited this episode_disc from being saved:</h2>

      <ul>
      <% @episode_disc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :episode_id %><br>
    <%= f.collection_select(:episode_id, @season.episodes, :id, :to_s) %>
  </div>
  <div class="field">
    <%= f.label :disc_id %><br>
    <%= f.collection_select(:disc_id, @season.discs, :id, :to_s) %>
  </div>
  <div class="field">
    <%= f.label :disc_order %><br>
    <%= f.number_field :disc_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
