<h1><%= t('general.editing') % t('episode_discs.episode_disc') %></h1>

<%= render 'form', :resource_url => tv_show_season_episode_episode_disc_path%>
<br />
<br />
<%= link_to 'Back', tv_show_season_episode_episode_discs_path %>
