<h1><%= "#{@episode_disc.episode.tv_show.name} - Season #{@episode_disc.episode.season.number} - #{@episode_disc.episode.name} - Disk #{@episode_disc.disc.disc_number}" %></h1>

<p>
  <strong><%= t('episodes.episode') %>:</strong>
  <%= link_to @episode_disc.episode, tv_show_season_episode_path(@episode_disc.episode.tv_show, @episode_disc.episode.season, @episode_disc.episode) %><br />

  <strong><%= t('discs.disc') %>:</strong>
  <%= link_to @episode_disc.disc, tv_show_season_disc_path(@episode_disc.disc.tv_show, @episode_disc.disc.season, @episode_disc.disc) %><br />

  <strong><%= t('episode_discs.disc_order') %>:</strong>
  <%= @episode_disc.disc_order %><br />

  <strong><%= t('episode_discs.combined_episodes') %>:</strong>
  <%= boolean_to_string(@episode_disc.combined_episodes) %>
</p>

<% if @combined_episodes %>
    <h3><%= t('episode_discs.combined_episodes') %></h3>
    <%= render 'episodes/episodes', :episodes => @combined_episodes %>
<% end %>

<%= link_to 'Edit', edit_tv_show_season_episode_episode_disc_path(@episode_disc.episode.tv_show, @episode_disc.episode.season, @episode_disc.episode, @episode_disc) %> |
<%= link_to 'Back', tv_show_season_episode_episode_discs_path(@episode_disc.episode.tv_show, @episode_disc.episode.season, @episode_disc.episode) %>
